-- NOTE: Due to revisions, this file may not work. See:
-- https://github.com/fpco/stackage-server/issues/232

-- Stackage snapshot from: http://www.stackage.org/snapshot/nightly-2023-12-07
-- Please place this file next to your .cabal file as cabal.config
-- To only use tested packages, uncomment the following line:
-- remote-repo: stackage-nightly-2023-12-07:http://www.stackage.org/nightly-2023-12-07
-- with-compiler: ghc-9.6.3
constraints: hashable ==1.4.3.0
allow-newer: *